
resource_group_name = "RAG"
location            = "koreacentral"

vnet_name          = "rag-vnet"
vnet_cidr          = "10.0.0.0/16"
infra_subnet_name  = "rag-subnet"
infra_subnet_cidr  = "10.0.0.0/23"

identity_name = "rag-app-identity"
env_name      = "rag-env"
app_name      = "rag-app"

image    = "ragapp2304.azurecr.io/rag-app:latest"
acr_name = "ragapp2304"

key_vault_name = "myrag"

# kv_secret_google_api_key = "google-api-key"
# kv_secret_auth_users     = "auth-users"

storage_account_name = "myrag"
storage_share_name   = "ragdata"
storage_access_key = "<your-access-key>"
